.search-container {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    width: 230px;
    border-bottom: 2px dotted #ebe6e6;
    font-size: 12px;
}

.search-container input{
    flex: 1;
    border: none;
    direction: rtl;
    outline: none;
    padding: 2px 0;
}
input::placeholder{
    font-size: 12px;
    color: #c4bfbf;
}