.logo-container {
    position: absolute;
    z-index: 100;
    cursor: grab;
}

.logo-container .logo-image {
    width: 100%;
    height: auto;

}


.size-btn {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: grab !important;
}




.size-btn.top-left {
    top: -20%;
    left: -20%;
}

.size-btn.top-right {
    top: -20%;
    right: -20%;
}

.size-btn.bottom-left {
    bottom: -20%;
    left: -20%;
}

.size-btn.bottom-right {
    bottom: -20%;
    right: -20%;
}

.size-btn i {
    font-weight: bold;
    font-size: 11px;
}

.logo-image-row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}